.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    height: 30px;
    margin-top: -150px;
    text-align: center;
    padding-bottom: 12px;
}

.logos {
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    white-space: nowrap;
    display: inline;
    left: 45px;
    padding-bottom: 5px;
}