@{
    Layout = null;
}

<!DOCTYPE html>


<html lan="en=CA">

<head>
    <title> Tools </title>
    @RenderPage("/Shared/Header.cshtml")
    @RenderPage("/Shared/Footer.cshtml")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <link rel="stylesheet" href="~/CSS/Centerofpage.css">

    <div class="centerofpage">
        <p> Page is under construction! </p>    
    </div>
</body>
</html>
