@{
    Layout = null;
}

<!DOCTYPE html>

<html lan="en=CA">

<body>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
       

    <link rel="stylesheet" href="~/CSS/Footer.css">
     <link rel="stylesheet" href="~/CSS/Responsive.css">

    <div class="footer">
        <p style="font-family:'Lucida Bright'; font-size:13px;white-space:nowrap;display:inline;">
            ©
            <script>document.write(new Date().getFullYear())</script> Peter Chengming Zhang.  All rights reserved.
        </p>

        <div class="logos">

            <a href="https://www.linkedin.com/in/peterxzhang/">
                <img class="logos" src="~/Images/Linkedin Logo.png" alt="LinkedIn"></a>
            &ensp;
            <a href="https://twitter.com/PCMZhang/">
                <img class="logos" src="~/Images/Twitter Logo.png" alt="Twitter"></a>
            &ensp;
            <a href="https://www.instagram.com/diariesofapharmd/">
                <img class="logos" src="~/Images/Instagram Logo.png" alt="Instagram"></a>

        </div>

    </div>
</body>
</html>


