@{
    Layout = null;
}

<!DOCTYPE html>

<html lan="en=CA">

<head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174084882-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-174084882-1');
    </script>

    <meta name="image" property="og:image" content="https://peterxzhang.com/images/writing-min.png">

    <link rel="shortcut icon" type="image/x-icon" href="~/Images/Logo.png" />
    <link rel="stylesheet" href="~/CSS/Header.css">
    <link rel="stylesheet" href="~/CSS/Responsive.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
</head>

<body>
   
    <div class="navbar">
        <p style="font-family:'Lucida Bright'">
            <a href='~/Pages/Home'> Home </a>
            <a href='~/Pages/Features'> Features </a>
            <a href='~/Pages/Publications'> Publications </a>
        </p>
    </div>
    
</body>
</html>
